:root{
    --color-Nutmeg: hsl(14, 45%, 36%);
    --color-DarkRaspberry: hsl(332, 51%, 32%);

    --color-White: hsl(0, 0%, 100%);
    --color-RoseWhite: hsl(330, 100%, 98%);
    --color-Eggshell: hsl(30, 54%, 90%);
    --color-LightGrey: hsl(30, 18%, 87%);
    --color-WengeBrown: hsl(30, 10%, 34%);
    --color-DarkCharcoal: hsl(24, 5%, 18%);

    --font-face-YoungSerif: 'Young Serif', sans-serif;
    --font-weight-regular: 400;

    --font-face-Outfit: 'Outfit', sans-serif;
    --font-weight-medium: 600;
    --font-weight-bold: 700;

    --font-size-paragraph: 1rem;
}

body {
    background-color: var(--color-Eggshell);
    color: var(--color-WengeBrown);
    font-family: var(--font-face-Outfit);
    line-height: 1.5;
    margin: 0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.attribution {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Eggshell);
    font-size: var(--font-size-paragraph);
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}


.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    margin: 40px 0;
}

@media (max-width: 375px) {
    .card-container {
      margin: 0;
    }
  }

.card {
    width: 100%;
    max-width: 800px;
    background-color: var(--color-White);
    border-radius: 20px;
    overflow: auto;
}

.row-img {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.row-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 5px;
}

hr {
    background-color: var(--color-Eggshell); 
    height: 1px;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
  }
  
.card-title {
    margin: 20px 0;
    margin-left: 40px;
    margin-bottom: 50px;
  }
.card-title h1 {
    font-family: var(--font-face-YoungSerif);
    font-weight: var(--font-weight-regular);
}

.prep-container {
    background-color: var(--color-RoseWhite);
    padding: 15px;
    border-radius: 10px;
    margin-right: 40px;
  }
.card-title h2 {
    color: var(--color-DarkRaspberry);
    margin-left: 50px;
}
.card-title p { 
    font-size: var(--font-size-paragraph);
}
.card-title p:not(.disc) {
    margin-left: 60px;
}
.card-title p span {
    margin-left: 20px
}
  
.card-ingridient{
    margin-left: 40px;
    margin-bottom: 40px;
}
.card-ingridient h1 {
    font-family: var(--font-face-YoungSerif);
    font-weight: var(--font-weight-regular);
    color: var(--color-Nutmeg);
}.card-ingridient p {
    font-size: var(--font-size-paragraph);
    margin-left: 10px;
}.card-ingridient p span {
    font-size: var(--font-size-paragraph);
    margin-left: 20px;
}
  
.card-instruction {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.card-instruction h1 {
    font-family: var(--font-face-YoungSerif);
    font-weight: var(--font-weight-regular);
    color: var(--color-Nutmeg);
}

.card-instruction p {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
}

.card-instruction p .step-number {
    margin-right: 10px;
    font-weight: bold;
}

.card-instruction p .step-description {
    flex-grow: 1;
}

.card-instruction p span {
    margin-left: 10px;
}



.card-nutrition {
    padding: 20px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }

  h1 {
    font-family: var(--font-face-YoungSerif);
    font-weight: var(--font-weight-regular);
    color: var(--color-Nutmeg);
  }

  p {
    font-size: var(--font-size-paragraph);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25px;
  }

  th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid var(--color-Eggshell);
}

td {
    font-weight: var(--font-weight-bold);
}
